// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-site {
  @include relative($left: 0px, $top:0px);
  z-index: 500;
  width: 100%;
  background-color: #fff;
}
.header-top{
  background-color: $bg-header-top;
  &-wrap{
    @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
      $align-items: null, $gutter: null);
  }
  &-time{
    @include grid(inline-flex, 
      $align-items: center, $gutter: null);
    i{
      margin-right: 10px;
      color: $color-theme2;
    }
    &__text{
      @include setFont(15px, #333, 400, $font-text);
      @include grid(inline-flex, $flex-wrap: wrap, 
        $align-items: null, $gutter: null);
      strong{
        width: 100%;
      }
      span{
        width: 100%;
      }
    }
  }
  &-list{
    @include grid(flex, $flex-wrap: wrap, $justify-content: flex-end, 
      $align-items: null, $gutter: null);
    @include flex(1); 
    &__item{
      @include grid(inline-flex, 
        $align-items: center, $gutter: null);
      i{
        margin-right: 10px;
        color: $color-theme2;
      }
      &-text{
        @include setFont(14px, #333, 400, $font-text);
        @include grid(inline-flex, $flex-wrap: wrap, 
          $align-items: null, $gutter: null, $flex-direction: column);
        strong{
          width: 100%;
          @include doubly(){
            color: $color-theme2;
          }
        }
      }
      @include doubly(){
        margin-left: 60px;
      }
    }
  }
}
.header-bot{
  &-wrap{
    @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
      $align-items: center, $gutter: null);
    min-height: 90px;
  }
  &-right{
    @include grid(flex, $flex-wrap: wrap, $justify-content: flex-end, 
      $align-items: null, $gutter: null);
    @include flex(1);
  }
  &-item{
    @include grid(inline-flex,  
      $align-items: center, $gutter: null);
    margin-left: 40px;
    i{
      @include grid(flex, $justify-content: center, 
        $align-items: center, $gutter: null);
      @include box(40px,40px,5px);
      color: #fff;
      margin-right: 10px;
      background-color: $color-theme;
    }
    &__text{
      @include grid(flex, $flex-wrap: wrap, $flex-direction: column);
      @include setFont(15px, #333, 400, $font-text);
      @include flex(1);
      &-name{
        width: 100%;
        a{
          color: #333;
        }
      }
      &-desc{
        width: 100%;
        color: $color-theme2;
      }
    }
  }
}
.logo{
  display: inline-block;
}