@include keyframes(spin) {
    100% {
        transform: rotate(1turn);
  }
}
.rotate_container-box {
  height: 460px;
  overflow: hidden;
  padding-top: 70px;
}
#rotate_container {
  @include box(780px, 780px, 100%);
  // @include background-opacity(#000, $opacity: 0.46);
  border: 2px dashed #38b639;
  margin: 10px auto;
  position: relative;
  animation: spin 20s linear infinite;

  .rotate-item {
    @include box(150px, 150px, 100%);
    
    @include grid(flex, $justify-content: center, $align-items:center);
    overflow: hidden;
    position: absolute;
    animation: spin 20s linear infinite reverse;
    // background-image: -moz-linear-gradient(120deg, #0c736a 0%, #12a566 100%);
    // background-image: -o-linear-gradient(120deg, #0c736a 0%, #12a566 100%);
    // background-image: -webkit-linear-gradient(120deg, #0c736a 0%, #12a566 100%);
    // background-image: linear-gradient(330deg, #0c736a 0%, #12a566 100%);

    a {
        @include grid(inline-flex, $justify-content: center, $align-items: center);
        @include box(100%, 100%, 100%);
        border: 2px solid #72dcdc;
        padding: 1px;
        overflow: hidden;
      figure {
        @include box(100%, 100%, 100%);
        overflow: hidden;
        margin-bottom: 0;
        position: relative;
        img {
            @extend %img-fill;
            object-fit: cover;
            object-position: top center;
        }
      }
      h5 {
        @include setFont(14px, #fff, 700);
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
      }
    }
  }
}
