.openBtn {
    @include transition(width .6s, border-radius .6s, background .6s, box-shadow .6s);
    @include relative($right: 0);
    @include setFont(16px, #000, 700);
    @include box(50px, 50px);
    @include grid($display: inline-flex, $align-items: center, $justify-content: center);
    border: none;
    cursor: pointer;
    z-index: 400; 
    outline: none !important;
    background-color: transparent;
}

#search {
    position: relative;
    width: 100%;
    max-width: 480px;
    z-index: 50;
    overflow: hidden;
    &.hien {
        display: block;
    }

    .my-search {
        @include grid($display: flex, $align-items: center, $justify-content:
         space-between);
        overflow: hidden;
        border-radius: 5px;
        background-color: #fff; 
        border: 1px solid #ccc;
        .keyword {
            @include flex(1);
            @include setFont(13px, #333);
            padding: 0px 10px;
            border: 0;
            height: 40px;
            box-shadow: none;
            background-color: transparent;
        }

        .btn_search {
            @include setFont(14px, #fff, 700);
            @include box(70px, 40px);
            @include grid($display: flex, $justify-content: center, 
              $align-items: center);
            cursor: pointer;
            border-radius: 5px;
            background-color: $color-theme;
        }
    }
}
